* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

h2 {
  margin: 20px 10px 0px 0px;
  font-weight: 600;
}

.container {
  width: 90%;
  max-width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1.2px 1.2px rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  padding: 20px;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  width: 100%;
  display: block;
  padding: 2px;
  margin: 2px 0px;
}

.weight,
.height {
  width: 100%;
}

.btns {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #17338e;
  border-radius: 2px;
  color: white;
  width: 100%;
  margin-top: 6px;
  padding: 8px 0px;
  border: none;
  box-shadow: 1.2px 1.2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #0f2770;
}

.reload {
  background-color: #c6c5c5;
  color: black;
  border: 1px solid black;
}

.weightPlaceHolder,
.heightPlaceHolder {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1.2px 1.2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.message {
  margin-top: 20px;
  text-align: center;
}

h3,
h5 {
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    margin-top: 10%;
  }

  .btn {
    font-size: 14px;
  }
}
